<div id="header">
  <h1>Plotly</h1>
</div>
<div id="nav">
  <div>
    <button class="button"
            routerLink="/scatter-plot"
            routerLinkActive="activebutton">Scatter Plot</button>
    <button class="button"
            routerLink="/line-chart"
            routerLinkActive="activebutton">Line Chart</button>
    <button class="button"
            routerLink="/bar-chart"
            routerLinkActive="activebutton">Bar Chart</button>
    <button class="button"
            routerLink="/pie-chart"
            routerLinkActive="activebutton">Pie Chart</button>
  </div>
</div>
<div id="container">
  <div class="sidenav">
    <div class="list">
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
      <h1>Sidenav</h1>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="footer">
  <h2>Footer</h2>
</div>